.wrapper {
  background: linear-gradient(
    90deg,
    rgba(91, 135, 255, 0.4) 0%,
    rgba(158, 3, 158, 0.4) 100%
  );
  border-top: 1px solid #605e5c;

  color: #f0f0f0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin-top: 5%;
}

.quickLinks {
  font-size: larger;
  position: relative;
  top: 5px;
}

.faq p {
  position: relative;
  left: 15%;
}

.infa p {
  position: relative;
  left: 11%;
}

.all p {
  position: relative;
  top: 10%;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  margin: 3px;
}

.fac p {
  position: relative;
  left: 5%;
}

.cont {
  display: flex;
  justify-content: space-evenly;
}

.lower-two {
  font-size: 16px;
  text-align: center;
}

.connect {
  font-size: 12px;
  text-align: center;
  justify-content: center;
}

.icn {
  font-size: 24px;
  cursor: pointer;
}

.youtube {
  font-size: 27px;
  position: relative;
  top: -2px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.lower-three {
  font-size: 12px;
  text-align: left;
}

.lower-three p {
  position: relative;
  top: 10px;
}

@media (max-width: 890px) and (min-width: 768px) {
  .all p {
    font-size: 11px;
  }

  .lower-three p {
    font-size: 10px;
  }

  .lower-two {
    font-size: 14px;
  }

  .lower-two p {
    font-size: 14px;
  }

  .lower-two strong {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 640px) {
  .quickLinks {
    display: none;
  }

  .youtube {
    position: relative;
    top: -2px;
  }

  .all p {
    font-size: 12px;
  }

  .connect {
    font-size: 10px;
  }

  .lower-three p {
    font-size: 9px;
  }

  .lower-two {
    font-size: 12px;
  }

  .lower-two p {
    font-size: 12px;
  }

  .lower-two strong {
    font-size: 12px;
  }
}

@media (max-width: 640px) and (min-width: 576px) {
  .quickLinks {
    display: none;
  }

  .all p {
    font-size: 9px;
  }

  .youtube {
    font-size: 24px;
    position: relative;
    top: 1px;
  }

  .icn {
    font-size: 20px;
  }

  .connect {
    font-size: 9px;
  }

  .lower-three p {
    font-size: 7px;
  }

  .lower-two {
    font-size: 11px;
  }

  .lower-two p {
    font-size: 11px;
  }

  .lower-two strong {
    font-size: 11px;
  }
}

@media (max-width: 575px) and (min-width: 522px) {
  .quickLinks {
    display: none;
  }

  .fac {
    display: none;
  }

  .youtube {
    font-size: 24px;
    position: relative;
    top: 1px;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .icn {
    margin: 5px;
  }

  .all p {
    font-size: 9px;
  }

  .icn {
    font-size: 20px;
  }

  .connect {
    font-size: 10px;
  }

  .lower-three p {
    font-size: 9px;
  }

  .lower-two {
    font-size: 10px;
  }

  .lower-two p {
    font-size: 10px;
  }

  .lower-two strong {
    font-size: 10px;
  }

  .bt {
    margin: 5px;
  }

  .lower-three {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
  }
}

@media (max-width: 522px) and (min-width: 400px) {
  .quickLinks {
    display: none;
  }

  .youtube {
    font-size: 26px;
    position: relative;
    top: 1px;
  }

  .fac {
    display: none;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .icn {
    margin: 5px;
  }

  .all p {
    font-size: 9px;
  }

  .icn {
    font-size: 20px;
  }

  .connect {
    font-size: 10px;
  }

  .lower-three p {
    font-size: 9px;
  }

  .lower-two {
    font-size: 10px;
  }

  .lower-two p {
    font-size: 10px;
  }

  .lower-two strong {
    font-size: 10px;
  }

  .bt {
    margin: 5px;
  }

  .lower-three {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
  }
}

@media (max-width: 400px) {
  .bt {
    margin: 2px;
  }

  .lower-three {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
  }

  .youtube {
    font-size: 22px;
    position: relative;
    top: 1px;
  }

  .icn {
    margin: 5px;
  }

  .icons {
    display: flex;
    justify-content: center;
  }

  .fac {
    display: none;
  }
  .quickLinks {
    display: none;
  }

  .all p {
    font-size: 6.5px;
  }

  .icn {
    font-size: 15px;
  }

  .connect {
    font-size: 10px;
  }

  .lower-three p {
    font-size: 9px;
  }

  .lower-two {
    font-size: 9px;
  }

  .lower-two p {
    font-size: 9px;
  }

  .lower-two strong {
    font-size: 9px;
  }
}

.lower-one {
  text-align: center;
}

.heart {
  display: inline-flex;
  font-size: 20px;
  color: red;
}

.techhub {
  margin-top: -10px;
}
