.border-div-calendar,
.border-div-calendar-no-hover {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #00bcf2, #b4a0ff);
  opacity: 0.85;
}
.table-calendar {
  padding: 0 10px;
  background: #201f1e;
  box-shadow: -2px -2px 2px rgba(191, 189, 200, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.4), -10px -10px 15px rgba(208, 197, 249, 0.005),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.border-div-calendar:hover {
  padding: 3px;
}

.image-cell-table {
  border-radius: 3px;
  filter: brightness(50%);
}

.image-cell-table:hover {
  filter: brightness(90%);
}
.cell-calendar {
  width: 100%;
  height: 100px;
  padding: 8px 14px;
}

.top-row {
  margin-top: 0rem;
}
.bottom-row {
  margin-bottom: 1rem;
}

.no-event-cell {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background: #323130;
  position: relative;
}

.not-present-month {
  background: #201f1e;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.date-calendar {
  position: absolute;
  bottom: 0;
  right: 0.3rem;

  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
}
.eventTitle-calendar {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Signika', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #e1dfdd;
}

.th-calendar {
  width: 210px;

  font-family: 'Roboto Slab', sans-serif;

  font-size: 1.1rem;
  min-width: 130px;
  letter-spacing: 0.1em;

  font-style: normal;
  font-weight: normal;
  padding-bottom: 0%;
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: #a19f9d;
}
.calendar-container .table th {
  padding-bottom: 0;
}

.monthName-calendar {
  display: inline-block;
  color: white;
  height: 100%;
  position: relative;
  width: 100%;
}

.heading-calendar {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-size: 4em;

  width: fit-content;
  margin: 2% auto;
  margin-bottom: 0;

  background: linear-gradient(to right, #00bcf2, #b2a0ff);
  letter-spacing: 0.015em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.month-name-calendar {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2em;

  width: fit-content;
  margin: auto;
  margin-bottom: 10px;

  letter-spacing: -0.015em;

  /* identical to box height */
  background: linear-gradient(to right, #00bcf2, #b2a0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1750px) {
  .th-calendar {
    width: 300px;
  }
  .cell-calendar {
    height: 130px;
  }
}

@media (max-width: 1100px) {
  .table-calendar {
    overflow: scroll;
  }
}

/* @media (max-width: 700px) {
  .calendar-container {
    display: none;
  }
} */

.calendar-container {
  margin: 2% 8%;
}
