.wrapper{
    background-image: linear-gradient(to right , rgb(54,16,160),rgb(71,7,80));
    color: white;
  }
  
  .quickLinks{
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    
  }
  
  .all{
    font-size: 12px;
    padding-top: 15px;
    text-align: left;
    
  }
  
  .icons{
    text-align: right;
    margin-top: -15px;
    display: inline-flex;
  }
  
  h2{
    padding:0px 7px 0px 7px;
    cursor: pointer;
  }
  
  h1{
    padding-right:7px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .quick{
    font-size: 20px;
  }
  
  p{
    cursor: pointer;
    font-size: 16px;
  }
  
  @media (max-width:1150px) and (min-width:991px){
    p{
        font-size: 10px;
    }
    .quick{
        font-size: 12px;
    }
    h2,h1{
        font-size: 23px;
    }
    h1{
        margin-top: 20px;
    }
    .shift{
        padding-left: 5px;
    }
    .shift-a{
        padding-left: 15px;
    }
  }
  @media (max-width:991px) and (min-width:767px){
    p{
        font-size: 10px;
    }
    h2,h1{
        font-size: 18px;
    }
    h1,h2{
        margin-top: 25px;
    }
    .quick{
        font-size: 14px;
    }
    .all{
        padding:15px 5px 0px 5px;
    }
    .shift-a{
        padding-left: 15px;
    }
    .shift{
        padding-left: 15px;
    }
  }
  @media (max-width:767px){
    p{
        font-size: 20px;
    }
    .icons{
        display: block;
        float: right;
        margin-top: -250px;
        padding-bottom: 30px;
    }
    .quick{
        font-size: 25px;
    }
  
    h2,h1{
      font-size: 25px;
  }
  }
  
  @media (min-width:852px) {
    .icons{
      margin-top: 7px;
    }
  
    .lg{
      display: flex;
      position: relative;
      left: 50%;
    }
  
    h1{
      position: relative;
      top: -5px;
    }
  }
  
  @media (min-width:768px) and (max-width:852px){
    .icons{
      margin-top: 7px;
    }
  
    .lg{
      display: flex;
      position: relative;
      left: 30%;
    }
  
    h1{
      position: relative;
      top: -5px;
    }
  }