.ClubDescrition-heading-HighlightsHeading {
  display: flex;
  flex-direction: column;

  padding: 0%;

  background: linear-gradient(
    90deg,
    rgba(91, 135, 255, 0.6) 0%,
    rgba(0, 188, 242, 0.6) 50.52%,
    rgba(91, 135, 255, 0.6) 100%
  );

  width: 100%;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ClubDescrition-heading-HighlightsHeading h3 {
  justify-self: center;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #201f1e;
}
.ClubDescrition-description {
  color: rgba(0, 188, 242);
  margin: 10px;
  text-align: start;
}
.ClubDescrition-lineAbove-HighlightsHeading {
  justify-self: flex-start;
  height: 2%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.8);
}

.lineBelow-HighlightsHeading {
  height: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  background: inherit;
  justify-self: flex-end;
}
@media (max-width: 1000px) {
  .ClubDescrition-heading-HighlightsHeading h3 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .ClubDescrition-heading-HighlightsHeading h3 {
    font-size: 60px;
  }
}

@media (max-width: 560px) {
  .ClubDescrition-heading-HighlightsHeading h3 {
    font-size: 50px;
  }
}

@media (max-width: 518px) {
  .ClubDescrition-heading-HighlightsHeading {
    height: 150px;
  }
}
@media (max-width: 448px) {
  .ClubDescrition-heading-HighlightsHeading h3 {
    font-size: 45px;
  }
}

@media (max-width: 400px) {
  .ClubDescrition-heading-HighlightsHeading h3 {
    font-size: 35px;
  }
  .ClubDescrition-heading-HighlightsHeading {
    height: 100px;
  }
}
