.ClubsFeatured-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("https://wallpapercave.com/wp/wp2478972.jpg");
}
.ClubsFeatured-content {
  width: 55%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ClubsFeatured-parent {
  width: 40%;
}
.ClubsFeatured-image-content-image {
  width: 450px !important;
  height: 320px !important;
  /* min-width: 400px; */
}
.ClubsFeatured-image {
  width: 100%;
}
.ClubsFeatured-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.09em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #00bcf2, #b4a0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ClubsFeatured-subtitle {
  margin-top: 2vh;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: center;
  letter-spacing: 0.13em;

  color: #00bcf2;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ClubsFeatured-description {
  margin-top: 2vh;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  text-align: justify;
  letter-spacing: 0.01em;
  line-height: 25px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ClubsFeatured-links {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.ClubsFeatured-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px;
  color: #fafafa;
  cursor: pointer;
  border: 2px solid #fafafa;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
}
.ClubsFeatured-button:hover {
  background: linear-gradient(to right, #055a6f, #00bcf2);
}
.ClubsFeatured-image {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
}
.ClubsFeatured-frame-logo {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ClubsFeatured-overlay-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.ClubsFeatured-overlay-social {
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.1vw;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  width: 40%;
  text-transform: uppercase;
  padding: 8px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  text-decoration-line: none;
}
.ClubsFeatured-overlay-social:hover {
  color: #000;
  background: #fff;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ClubsFeatured-image-container {
  background: rgba(32, 31, 30, 0.9);
  padding: 4px;
  border-radius: 3px;
}

.ClubsFeatured-image-container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.ClubsFeatured-image-content {
  position: relative;
  width: 100%;

  margin: auto;
  overflow: hidden;
}

.ClubsFeatured-image-content .ClubsFeatured-image-content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.ClubsFeatured-image-content:hover .ClubsFeatured-image-content-overlay {
  opacity: 1;
}

.ClubsFeatured-image-content-image {
  width: 100%;
}

.ClubsFeatured-image-content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.ClubsFeatured-image-content:hover .ClubsFeatured-image-content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.ClubsFeatured-image-content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.ClubsFeatured-image-content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
@media (max-width: 960px) {
  .ClubsFeatured-container {
    /* flex-direction: column; */
  }
  .ClubsFeatured-content {
    width: 100%;
  }
  .ClubsFeatured-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ClubsFeatured-image {
    width: 80%;
  }
  .ClubsFeatured-title {
    font-size: 4vw;
  }
  .ClubsFeatured-subtitle {
    font-size: 2vw;
    text-align: center;
  }

  .ClubsFeatured-description {
    font-size: 1.5vw;
    line-height: 3vh;
  }
  .ClubsFeatured-image-content-image {
    width: 380px !important;
    height: 290px !important;
  }
}
@media (max-width: 660px) {
  .ClubsFeatured-container {
    flex-direction: column;
  }
  .ClubsFeatured-button {
    font-size: 9px;
    width: 30%;
    margin: 3px;
    justify-content: center;
  }
  .ClubsFeatured-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .ClubsFeatured-title {
    font-size: 18px;
    text-align: center;
  }
  .ClubsFeatured-subtitle {
    font-size: 12px;
    text-align: center;
  }
  .ClubsFeatured-description {
    font-size: 9px;
    line-height: 2vh;
  }

  /* .ClubsFeatured-parent {
    visibility: hidden;
    width: 0;
  } */
  .ClubsFeatured-image-content-image {
    width: 280px !important;
    height: 190px !important;
  }
}
