.achievements-limelight{
    background: linear-gradient(90deg, rgba(0, 178, 151, 0.5) 0%, rgba(235, 190, 32, 0.5) 50.52%, rgba(0, 178, 151, 0.5) 100%);
    margin: -2%;
    margin-bottom: 50px;
    width: 100vw;
}
.achievements-limelight h1{
    font-family: Roboto Slab;
font-style: normal;
font-weight: 300;
font-size: 6vw;
letter-spacing: -0.015em;
}