.articleContent-ArticleBody {
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
  text-align: justify;
  letter-spacing: -0.015em;
  margin: 4% 7%;

  color: #00bcf2;
}

.attachment-ArticleBody {
  border: 2px solid #00b294;
  box-sizing: border-box;
  border-radius: 5px;
  background: inherit;
  width: 210px;
  height: 45px;
  /* margin: auto; */
  display: inline-block;
  margin: 1%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: #00b294;
}
.attachment-ArticleBody:hover {
  background: rgba(0, 188, 242, 0.2);
}
.attachment-ArticleBody:focus {
  outline: none;
}

.attachmentIcon-ArticleBody {
  height: 50%;
  margin-right: 5%;
}

.ButtonGroup-ArticleBody {
  margin: 2% 7%;
}

.keywordsGroup-ArticleBody {
  margin: 2% 7%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; */
}
.keywordDiv-ArticleBody {
  width: fit-content;
  white-space: nowrap;
  display: inline-block;
  margin: 0.3% 1%;
}

.keyword-ArticleBody {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.015em;
  margin-right: 2%;
  text-transform: uppercase;

  color: #a19f9d;
}
.keyword-ArticleBody:hover {
  text-decoration: none;
  color: #00bcf2;
}

@media (max-width: 500px) {
  .articleContent-ArticleBody {
    font-size: 14px;
    line-height: 25px;
  }
}
