.border-div-button-featured {
  /* background: linear-gradient(to right, #00bcf2, #b4a0ff); */
  background: #00bcf2;
  padding: 2px;
  width: 30%;
  border-radius: 6px;
  box-sizing: border-box;
}

.Button-featured {
  font-family: 'Roboto Slab';

  background: #20201f;

  padding: 3%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button-text-featured {
  font-weight: 200;
  font-size: 1.5vw;
  /* background: linear-gradient(to right, #00bcf2, #b4a0ff); */
  background: #00bcf2;
  letter-spacing: 0.015em;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Button-featured:hover {
  background: #e1dfdd;
  color: #201f1e;
  -webkit-box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.Button-featured:hover span {
  background: inherit;

  -webkit-text-fill-color: #201f1e;
}
@media (max-width: 900px) {
  .Button-text-featured {
    font-size: 2.3vw;
  }
  .border-div-button-featured {
    padding: 0.3%;
    width: 50%;
  }
}

@media (max-width: 900px) {
  .Button-text-featured {
    font-size: 25px;
  }
  .border-div-button-featured {
    padding: 1px;
    width: 200px;
    border-radius: 2px;
    width: 80%;
  }
  .Button-featured {
    padding: 2%;
    border-radius: 2px;
  }
  .Button-text-featured {
    font-weight: 400;
  }
}

@media (max-width: 550px) {
  .Button-text-featured {
    font-size: 5.3vw;
  }
  .border-div-button-featured {
    width: 80%;
    margin: 4px;
    padding: 1.4px;
  }
}
