@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

.searchBar-techmaniacs-SearchBar {
  display: flex;
  flex-direction: column;
  margin: 2px 0;
}

/* gradient border */
.searchBox-border-SearchBar {
  background: linear-gradient(180deg, #00bcf2, #b4a0ff);
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  display: inline;
  width: 45%;
  height: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-left: 5%;
}

/* container for search field and search icon */
.container-SearchBar {
  background-color: #201f1e;
  border-radius: 4px;
  font-weight: 300;
  margin: auto 1.2px;
  height: 92%;
}

/* search field */
.searchInput-SearchBar {
  background-color: #201f1e;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  height: 100%;
  font-size: 0.9rem;
  padding: 0.2rem 0px 0.2rem 4%;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  color: #a19f9d;
}

.searchInput-SearchBar:focus {
  background-color: #201f1e;
  color: #cccaca;
  outline: none;
  border: none;
  box-shadow: none;
}

/* search icon */
.searchBarIcon-SearchBar {
  height: 0.8em;
  margin: 0 0.1em 0.3em 0;
  border: none;
  outline: none;
}
#root > div > div:nth-child(1) > div > div > div > button {
  padding: 0px;
}

/* ==== MEDIA QUERIES ==== */
@media only screen and (min-width: 500px) {
  .searchBox-border-SearchBar {
    width: 40%;
    height: 2.1em;
  }
  .searchInput-SearchBar {
    height: 90%;
    font-size: 1.1rem;
    padding: 0.21em 0px 0.25em 3%;
  }
  .searchBarIcon-SearchBar {
    height: 1em;
    margin: 0 0.5em 0.3em 0;
  }
}
@media only screen and (min-width: 800px) {
  .searchBar-techmaniacs-SearchBar {
    flex-direction: row;
  }
  .searchBox-border-SearchBar {
    width: 29%;
    height: 2.3em;
  }
  .searchInput-SearchBar {
    font-size: 1.2rem;
    padding: 0.25em 0px 0.2em 3%;
  }
}
