.root-ChallengesContainer {
  width: 400px;
  height: 600px;
  background: url('https://images.unsplash.com/photo-1546414658-441e4c0a93a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=978&q=80');
  border: 5px solid #201f1e;
  box-sizing: border-box;
  background-size: cover;
  margin: 2%;
  box-shadow: -2px -2px 2px rgba(191, 189, 200, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.4), -10px -10px 15px rgba(208, 197, 249, 0.005),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: scroll;
}

.root-ChallengesContainer::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.root-ChallengesContainer::-webkit-scrollbar:hover {
  width: 2px;
  height: 3px;
}

.root-ChallengesContainer::-webkit-scrollbar-track {
  background: inherit;
}
.root-ChallengesContainer::-webkit-scrollbar-corner {
  /* 6 */
  display: none;
}

.root-ChallengesContainer::-webkit-scrollbar-thumb {
  background: rgba(224, 224, 224, 0.2);
  border-radius: 10px;
}
