@media (max-width: 992px) {
  .EventsPage .nav-container-Navigation {
    display: none;
  }
}

.event-card-heading {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-size: 2em;

  width: 100%;
  margin: 2% 2%;
  text-align: start;
  background: linear-gradient(to right, #00bcf2, #b2a0ff);
  letter-spacing: 0.015em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-card-heading img {
  height: 1.2em;
  margin-right: 1%;
  margin-bottom: 0;
}
@media (max-width: 520px) {
  .event-card-heading {
    font-size: 1.7em;
  }
}

@media (max-width: 490px) {
  .event-card-heading {
    font-size: 1.8em;
  }
}

@media (max-width: 470px) {
  .event-card-heading {
    font-size: 6vw;
  }
}

@media (max-width: 395px) {
  .event-card-heading {
    font-size: 6vw;
  }
}
