.pagination {
  width: fit-content;
  margin: auto;
  margin-top: 3%;
}
.pagination .page-link {
  background-color: #20201f;
  border: none;

  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 300;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
}

.page-item.active .page-link {
  background: linear-gradient(
    90deg,
    rgba(0, 188, 242, 0.5) 0%,
    rgba(180, 160, 255, 0.5) 100%
  );
  /* background-color: #00bcf2; */
  border-radius: 3px;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
}

.pagination li:nth-child(1) .page-link {
  background: linear-gradient(
    90deg,
    rgba(0, 188, 242, 0.5) 0%,
    rgba(180, 160, 255, 0.5) 100%
  );
}

.pagination .disabled {
  display: none;
}

.pagination li:last-child .page-link {
  background: linear-gradient(
    90deg,
    rgba(0, 188, 242, 0.5) 0%,
    rgba(180, 160, 255, 0.5) 100%
  );
}
