@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200&display=swap');
.module-border-wrap {
  padding: 1px;
  text-align: center;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    rgb(0, 176, 227, 1) 48%,
    rgb(180, 160, 255, 1) 100%
  );
}

.Heading-AppGrid,
.Heading-AppGrid-Mobile {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  margin: 5% auto 1% auto;

  font-weight: 100;
  font-size: 50px;

  /* identical to box height, or 98px */
  text-align: center;
  letter-spacing: -0.015em;

  background: linear-gradient(to right, #00bcf2, #b4a0ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.text {
  margin-top: 5px;
}

.custom:hover {
  background-color: rgba(96, 94, 92, 0.2);
  transform: scale(1.1);
  cursor: pointer;
}

.text p:hover {
  cursor: pointer;
  text-shadow: 0px 4px 4pxrgba (0, 0, 0, 0.25);
  /* color: aqua;
  text-decoration: underline; */
}

.custom img {
  margin-top: 7px;
}
.full {
  background-color: inherit;
}

.container2 {
  width: 100%;
  padding: 0px 35px 0px 35px;
  margin: 0px auto 0px auto;
}
.custom {
  margin-top: 10px;
  height: 200px;
  transition: 1s;
}

.custom p {
  color: #f3f2f1;
  font-family: Roboto Slab;
  height: 10px;
}

.box {
  height: 280px;
  text-align: center;
  padding: 15px;
}

@media (max-width: 575px) {
  .custom img {
    height: 100px;
    width: 100px;
  }

  .custom {
    height: 170px;
  }

  .box {
    margin: 2px;
    height: 200px;
  }
}

@media screen and (min-width: 690px) {
  .Heading-AppGrid-Mobile {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .Heading-AppGrid {
    display: none;
  }
}
