.sub-dropdown-button-ProjectsPage {
  background-color: #f0f0f0;
  padding: 2px 2px;
  margin: 2% 1%;
  height: 40px;
}

.sub-dropdown-button-ProjectsPage button {
  border-style: none;
  width: 100%;
  height: 100%;
  background: rgba(96, 94, 92, 1);
  padding-left: 5%;

  font-family: 'Roboto';
  color: #f0f0f0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  overflow-x: scroll;
}

.sub-dropdown-button-ProjectsPage button:focus {
  outline: none;
}

.sub-dropdown-button-ProjectsPage button:hover {
  background: rgba(96, 94, 92, 0.75);
}

.dropdown-sub-box-ProjectsPage {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3px;
  padding-left: 0px;
  align-items: center;
}

.dropdown-sub-box-ProjectsPage > div {
  display: inline-block;
  float: left;
  white-space: nowrap;
  padding: 0px;
  /* line-height: 1.4rem; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-sub-box-ProjectsPage > div > img {
  height: 80%;
  width: auto;
  padding-right: 9px;
}

.categoryName-ProjectsPage {
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  color: #f0f0f0;
}

.sub-dropdown-button-ProjectsPage ::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

.sub-dropdown-button-ProjectsPage ::-webkit-scrollbar:hover {
  width: 2px;
  height: 2px;
}

.sub-dropdown-button-ProjectsPage ::-webkit-scrollbar-track {
  visibility: hidden;
}
.sub-dropdown-button-ProjectsPage ::-webkit-scrollbar-corner {
  /* 6 */
  display: none;
}

.sub-dropdown-button-ProjectsPage ::-webkit-scrollbar-thumb {
  background: #212020;
  border-radius: 10px;
}
