@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap");

/* ==== NAVIGATION CONTAINER ==== */
.nav-container-EventsNavbar {
  background-color: #201f1e;
  opacity: 0.97;
  font-family: "Signika", Arial, Helvetica, sans-serif;
  position: sticky;
  z-index: 100;
  margin-bottom: 3%;
}
.nav-container-EventsNavbar > nav::before {
  content: "";
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #1a83a1, #675899);
  height: 0.8px;
  left: 0;
  bottom: 0;
}

/* ==== Tech Hub IIT Tirupati BRAND NAME ==== */

.main-web-name-EventsNavbar {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 150%;
  background: linear-gradient(
    90deg,
    rgb(0, 185, 214),
    rgb(3, 167, 177),
    rgb(3, 163, 137)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* ==== NAVIGATION LINKS ==== */

.nav-link-EventsNavbar {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: -0.015em;
  width: 12rem;
  margin: 0.3em auto;
  border-radius: 3px;
  color: #f0f0f0;
  background-color: #201f1e;
}
/* gradient border */
.nav-link-EventsNavbar::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  background: linear-gradient(#00bcf2, #b4a0ff);
  z-index: -1;
  width: 12.2rem;
  top: -0.1em;
  right: -1%;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
/* active nav-link */
#responsive-navbar-nav > div > a.nav-link-EventsNavbar.nav-link.active {
  background: linear-gradient(90deg, #184653, #443f56);
}

/* ==== Hamburger Menu ==== */

.navbar-dark .navbar-toggler-icon {
  background-image: url(navbarBurgerMenuIcon.png);
}

.navbar-dark .navbar-toggler {
  border-color: rgba(32, 31, 30, 0);
}
.navbar-dark .navbar-toggler:hover {
  outline: none;
}

/* ==== MEDIA QUERIES ==== */
@media (min-width: 576px) {
  .main-web-name-EventsNavbar {
    font-size: 170%;
  }
  .nav-link-EventsNavbar {
    font-size: 1.08rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #root > div > div:nth-child(1) > div.nav-container-EventsNavbar > nav > a {
    display: none;
  }
  .nav-link-EventsNavbar {
    border-radius: 5px;
    padding: 2px;
    width: 10rem;
  }
  .nav-link-EventsNavbar::after {
    border-radius: 5px;
    width: 10.2rem;
    top: -0.1em;
    right: -1%;
    height: 2rem;
  }
}

@media (min-width: 1200px) {
  .nav-link-EventsNavbar {
    font-size: 1.2rem;
    line-height: 2.2rem;
    width: 12rem;
  }
  .nav-link-EventsNavbar::after {
    width: 12.22rem;
    top: -0.1em;
    right: -1%;
    height: 2.67rem;
  }
}
