.container-ReferencesButton {
  border: 2px solid #a19f9d;
  box-sizing: border-box;
  border-radius: 5px;
  background: inherit;
  width: 210px;
  height: 45px;
  /* margin: auto; */
  display: inline-block;
  margin: 1%;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 21px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  letter-spacing: -0.015em;
  text-transform: uppercase;

  color: #e0e0e0;
}

.container-ReferencesButton:focus {
  outline: none;
}

.container-ReferencesButton:hover {
  background: rgba(0, 188, 242, 0.2);
}

.icon-ReferencesButton {
  height: 50%;
  margin-right: 5%;
}

.Article-Modal .modal-content {
  color: #f0f0f0;
  background: #201f1e;
  border-radius: 6px;
  font-family: Roboto Slab, sans-serif;
  border: 2px solid #323130;
  height: 100%;
}
/* .modal-dialog {
  max-width: 100%;
} */
.Article-Modal .modal-header {
  border: none;
  padding-left: 7%;
}

.Article-Modal .modal-footer {
  border: none;
}
.Article-Modal .modal-footer .btn {
  display: none;
}
.Article-Modal .modal-body {
  border: none;
  overflow-wrap: break-word;
}

.Article-Modal .modal-body ul {
  padding-left: 5%;
  margin-left: 2%;
  height: 100%;
}
.Article-Modal .modal-body ul li {
  margin-bottom: 1%;
}
.Article-Modal .modal-body ul li a {
  color: #00bcf2;
}

.Article-Modal .close span {
  color: white;
}
