.root-ClubSlide {
  height: 45vw;
  width: 90%;
  margin: 0 auto;
  padding: 0.15%;
  border-radius: 13px;
  background: rgb(0, 176, 227);
  background: linear-gradient(
    90deg,
    rgba(0, 176, 227, 1) 0%,
    rgba(180, 160, 255, 1) 100%
  );
}

.inner-ClubSlide {
  border-radius: 11px;
  background: #20201f;
  height: 100%;
  width: 100%;
}
