@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

/* ==== CARD VIEW ==== */
.data-container-CardData {
  position: relative;
  height: 5.1rem;
  margin: 1.5% 0;
  border: 4px solid #201f1e;
  box-sizing: border-box;
  box-shadow: -2px -2px 2px rgba(191, 189, 200, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.4), -10px -10px 15px rgba(208, 197, 249, 0.005),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  color: #f0f0f0;
}

/* ==== TEXT ALLIGHNMENT AND STYLING ==== */
.textBody-CardData {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  padding-top: 4px;
  padding-right: 1%;
  padding-bottom: 1px;
  padding-left: 1%;
}
.textBody-CardData.card-body,
.textBody-CardData {
  padding-top: 13px;
}

.rollNo-CardData {
  align-self: flex-start;
  text-align: left;
  margin: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 0.8rem;
}
.name-CardData {
  align-self: flex-start;
  text-align: left;
  margin: 1px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
}

.position-CardData {
  align-self: flex-start;
  text-align: left;
  margin: 1px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* background based on Designation */
.ClubHead-CardData {
  background: linear-gradient(
      90deg,
      rgba(227, 0, 140, 0.4) 0%,
      rgba(158, 3, 158, 0.4) 100%
    ),
    rgba(96, 94, 92, 0.2);
}
.Co-Coordinator-CardData {
  background: rgba(96, 94, 92, 0.6);
}

/* ==== DISPLAY PICTURE STYLING ==== */

.dPicture-border-CardData {
  box-sizing: border-box;
  position: relative;
  margin: auto 2% auto 7%;
  top: 3px;
  width: 4rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #e3008c, #724dff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayPicture-CardData {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width: 576px) {
  .data-container-CardData {
    height: 6.1rem;
    margin: 2% 0;
  }
  .dPicture-border-CardData {
    width: 5rem;
    top: 5%;
  }
  .displayPicture-CardData {
    width: 5rem;
    height: 5rem;
  }
  /* text sizing */
  .textBody-CardData.card-body,
  .textBody-CardData {
    padding-top: 5%;
    padding-left: 6%;
  }
  .rollNo-CardData {
    font-size: 0.8rem;
  }
  .name-CardData {
    font-size: 1.2rem;
  }
  .position-CardData {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .data-container-CardData {
    height: 6.8rem;
  }
  .dPicture-border-CardData {
    top: 9%;
  }
  .textBody-CardData.card-body,
  .textBody-CardData {
    padding-top: 5%;
    padding-left: 3%;
  }
}

@media only screen and (min-width: 992px) {
  .data-container-CardData {
    height: 7rem;
  }
  .dPicture-border-CardData {
    width: 5.6rem;
    top: 7%;
  }
  .displayPicture-CardData {
    width: 5.6rem;
    height: 5.6rem;
  }
  /* text sizing */
  .textBody-CardData.card-body,
  .textBody-CardData {
    padding-top: 7%;
    padding-left: 8%;
  }
  .rollNo-CardData {
    font-size: 0.9rem;
  }
  .name-CardData {
    font-size: 1.25rem;
  }
  .position-CardData {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .data-container-CardData {
    height: 8.5rem;
  }
  .dPicture-border-CardData {
    width: 6.2rem;
    top: 10%;
  }
  .displayPicture-CardData {
    width: 6.2rem;
    height: 6.2rem;
  }
  /* text sizing */
  .textBody-CardData.card-body,
  .textBody-CardData {
    padding-top: 6%;
    padding-left: 4%;
  }
  .name-CardData {
    font-size: 1.4rem;
  }
  .position-CardData {
    font-size: 1.2rem;
  }
}
