@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

.data-container-CardData {
  position: relative;
  height: 8rem;
  margin: 3% 0;

  border: 4px solid #201f1e;
  box-sizing: border-box;
  box-shadow: -2px -2px 2px rgba(191, 189, 200, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.4), -10px -10px 15px rgba(208, 197, 249, 0.005),
    10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  color: #f0f0f0;
}

.textBody-CardData {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  padding: auto 0px auto 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.rollNo-CardData,
.name-CardData,
.designation-CardData {
  align-self: flex-start;
  text-align: left;
  margin: 1px;
  text-transform: uppercase;
}

.rollNo-CardData {
  color: #aaaaaa;
}
.name-CardData{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.4rem;
}

.Co-Coordinator-CardData {
  background: rgba(96, 94, 92, 0.6);
}

.Coordinator-CardData {
  background: linear-gradient(
      90deg,
      rgba(227, 0, 140, 0.4) 0%,
      rgba(158, 3, 158, 0.4) 100%
    ),
    rgba(96, 94, 92, 0.2);
}
.Alumini-CardData {
  background: rgba(48, 46, 44, 0.6);
}
.alumini-textBody-CardData {
  font-family: Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
  color: #a19f9d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

/* ==== DISPLAY PICTURE STYLING ==== */

.dPicture-border-CardData {
  box-sizing: border-box;
  position: relative;
  margin: auto 3% auto 7%;
  /* height: 6.5em; */
  width: 23%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #e3008c, #724dff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayPicture-CardData {
  border-radius: 50%;
  border: 2px solid transparent;
}
