@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

/* ==== CLUBS TEAM INFO ==== */
.container-ClubsTeamInfo {
  padding: 4% 0;
  position: relative;
}

/* gradient divider lines */
.container-ClubsTeamInfo::before {
  content: '';
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #00bcf2, #00b294, #b4a0ff);
  height: 2px;
  left: 0;
  top: 0;
}
.container-ClubsTeamInfo::after {
  content: '';
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #00bcf2, #00b294, #b4a0ff);
  height: 3px;
  left: 0;
  bottom: 0;
}

/* ==== MEET OUR TEAM ==== */
.meetOurTeam-text-ClubsTeamInfo {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 300;

  letter-spacing: -0.015em;
  text-transform: uppercase;
  margin: 2%;

  background: linear-gradient(to right, #00bcf2, #b3a0fe);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width: 576px) {
  .meetOurTeam-text-ClubsTeamInfo {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .meetOurTeam-text-ClubsTeamInfo {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .meetOurTeam-text-ClubsTeamInfo {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .meetOurTeam-text-ClubsTeamInfo {
    font-size: 5rem;
  }
}
