.image-div-featured {
  display: inline-block;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.border-root-featured {
  margin-top: 4px;
  margin: 4px 5% 0 5%;
  /* background: linear-gradient(to right, #00b0e3, #b4a0ff, #00b294); */
  background: rgb(0, 176, 227);
  background: -moz-linear-gradient(
    127deg,
    rgba(0, 176, 227, 1) 25%,
    rgba(180, 160, 255, 1) 42%,
    rgba(0, 178, 148, 1) 100%
  );
  background: -webkit-linear-gradient(
    127deg,
    rgba(0, 176, 227, 1) 25%,
    rgba(180, 160, 255, 1) 42%,
    rgba(0, 178, 148, 1) 100%
  );
  background: linear-gradient(
    127deg,
    rgba(0, 176, 227, 1) 25%,
    rgba(180, 160, 255, 1) 42%,
    rgba(0, 178, 148, 1) 100%
  );

  padding: 5px;
  border-radius: 6px;
  color: white;
}

.carousel-root-featured {
  display: flex;
  justify-content: flex-start;
  height: 45vw;

  overflow: hidden;
}

.content-div-featured {
  height: 100%;

  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #20201f;
}

.featured-heading {
  padding: 0%;
  font-family: 'Roboto Slab';

  margin: 2% 0 0 8%;
  font-size: 6.7vw;
  font-weight: 300;
  background: linear-gradient(to right, #00bcf2, #b4a0ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  background-clip: text;
  letter-spacing: -0.015em;
}
.featured-secondary-heading {
  padding: 0%;
  font-family: 'Roboto Slab';

  margin: 0% 0 0 8%;
  font-size: 2.3vw;
  font-weight: 300;
  background: linear-gradient(to right, #00bcf2, #b4a0ff);
  letter-spacing: -0.015em;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  background-clip: text;
}

.button-div-featured-desktop {
  margin: 4% 0 0 8%;
}

.button-div-featured-mobile {
  display: none;
}

.featured-description {
  font-family: 'Roboto Slab';
  padding: 0%;
  margin: 2% 0 0 8%;
  font-size: 1.3vw;
  font-weight: 300;
  background: linear-gradient(to right, #00bcf2, #b4a0ff);
  letter-spacing: 0.015em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: auto;

  align-items: center;
  text-align: justify;
  letter-spacing: -0.015em;
}

.image-featured {
  margin-right: 4%;
}

.carousel-indicators li {
  width: 17px;
  height: 0.4px;
  background: #9f9e9e;
  border: 0.5px solid #9f9e9e;
  margin: 2px;
}
.carousel-indicators .active {
  background: linear-gradient(97.39deg, #00bcf2 -1.45%, #00b294 99.32%);
  border-radius: 1px;
  height: 0.8px;
  border: 1.4px solid rgba(0, 0, 0, 0);
}

@media (min-width: 900px) {
  .featured-secondary-heading {
    line-height: 2.8vw;
    text-align: start;
  }
  .featured-description {
    line-height: 1.8vw;
  }
}

@media (max-width: 900px) {
  .carousel-root-featured {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 700px;
  }
  .content-div-featured {
    min-height: 50%;
    height: auto;
    text-align: start;
    width: 100%;
  }
  .featured-heading {
    margin: 4% 2% 0 7%;
    font-size: 80px;
  }
  .featured-secondary-heading {
    margin: 4% 5% 0 7%;
    font-size: 20px;
  }
  .featured-description {
    margin: 4% 5% 0 7%;
    font-size: 15px;
  }

  .image-div-featured {
    display: block;
    width: 80%;
    margin: auto;
    height: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    color: white;
    padding: 5%;
  }

  .image-featured {
    margin: 0 auto;
  }

  .button-div-featured-desktop {
    display: none;
  }
  .button-div-featured-mobile {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
}
@media screen and (max-width: 550px) {
  .image-div-featured {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .featured-heading {
    font-size: 50px;
  }
}
@media (max-width: 1060px) and (min-width: 901px) {
  .carousel-root-featured {
    height: 560px;
  }
  .featured-heading {
    font-size: 9vw;
  }
  .featured-secondary-heading {
    margin-top: 5%;
    font-size: 25px;
  }
  .featured-description {
    margin-top: 4%;
    font-size: 15px;
    line-height: 2vw;
  }
}

@media (max-width: 930px) and (min-width: 901px) {
  .carousel-root-featured {
    height: 560px;
  }
  .featured-heading {
    font-size: 9vw;
  }
  .featured-secondary-heading {
    margin-top: 1%;
    font-size: 25px;
    line-height: 3vw;
    text-align: flex-start;
  }
  .featured-description {
    line-height: 2.2vw;
    margin-top: 4%;
    font-size: 15px;
    text-align: flex-start;
  }
}

@media (max-width: 930px) and (min-width: 900px) {
  .featured-secondary-heading {
    margin-top: 1%;
    font-size: 25px;
    line-height: 3.3vw;
    text-align: flex-start;
  }
  .featured-description {
    line-height: 2.5vw;
    margin-top: 4%;
    font-size: 15px;
    text-align: flex-start;
  }
}
