@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

/* ==== CLUBS TEAM INFO ==== */
.container-TechnicalTeam {
  padding: 4% 0;
  position: relative;
}

/* ==== MEDIA QUERIES ==== */

@media only screen and (min-width: 576px) {
  .meetOurTeam-text-TechnicalTeam {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .meetOurTeam-text-TechnicalTeam {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .meetOurTeam-text-TechnicalTeam {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .meetOurTeam-text-TechnicalTeam {
    font-size: 5rem;
  }
}
