.nav.nav-tabs .nav-item{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 2.5vw;
    /* or 34px */
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #605E5C;
    background-color: transparent;
    border-color: #605E5C;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style:none ;
    border-bottom-style:none ;
    margin: 5px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav.nav-tabs{
    border-bottom:0px
}
.nav.nav-tabs .nav-item:hover{
    color:#d3d2d1
}
.nav-item.nav-link.active{
    font-weight: bold;
    color: #8f8d8a;
}
.nav-item.nav-link.disabled{
    color: #302f2e;
}
a:active, a:focus {
    outline: 0;
    outline-style: none;
    -moz-outline-style: none;
}

@media screen and (min-width:481px) and (max-width: 850px) {
    .nav.nav-tabs .nav-item{
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
}
@media screen and (max-width: 480px) {
    .nav.nav-tabs .nav-item{
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
}
@media screen and (min-width: 851px) {
    .nav.nav-tabs .nav-item{
        font-size: 1.75vw;
        line-height: 1.75vw;
    }
}