.border-div-calendar,
.border-div-calendar-no-hover {
  width: 100%;
  height: 100%;
  padding: 2px;
  background: linear-gradient(to bottom, #00bcf2, #b4a0ff);
}

.border-div-calendar:hover {
  padding: 4px;
}

.cell-calendar {
  width: 100%;
  height: 110px;
  padding: 0.4rem 0.8rem;
}

.top-row {
  margin-top: 1rem;
}
.bottom-row {
  margin-bottom: 1rem;
}

.no-event-cell {
  height: 100%;
  width: 100%;
  background: #605e5d;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 9px -2px rgba(0, 0, 0, 1);
}

.not-present-month {
  background: #323131;
  height: 100%;
  width: 100%;
}

.date-calendar {
  position: absolute;
  bottom: 0;
  right: 0.3rem;
  color: #e1dfde;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2rem;
}

.th-calendar {
  width: 210px;

  font-family: 'Roboto Slab', sans-serif;

  font-size: 1.1rem;
  min-width: 130px;
  letter-spacing: 0.1em;
}

.monthName-calendar {
  display: inline-block;
  color: white;
  height: 100%;
  position: relative;
  width: 100%;
}

.heading-calendar {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-size: 4em;

  width: fit-content;
  margin: 2% auto;
  margin-bottom: 0;

  background: linear-gradient(to right, #00bcf2, #b2a0ff);
  letter-spacing: 0.015em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.month-name-calendar {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0;
  width: fit-content;
  margin: auto;

  /* identical to box height */
  background: linear-gradient(to right, #00bcf2, #b2a0ff);
  letter-spacing: 0.015em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  .table-calendar {
    overflow: scroll;
  }
}

@media (max-width: 700px) {
  .calendar-container {
    display: none;
  }
}
