.App {
  text-align: center;
  height: 100vh;
  background-color: #20201f;
}

.spinner-c-overlay {
  background-color: black;
  width:100%;
  height:100%;
  position: fixed;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 100000;
}