.BlogsContainer {
  margin: 3%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.Top-Row-BlogsContainer-desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.Top-Row-BlogsContainer-desktop .event-card-container {
  width: 100%;
}
.column1-Top-Row-BlogsContainer {
  width: 66.66667%;

  height: 100%;
  padding: 10px;
}

.column2-Top-Row-BlogsContainer {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  justify-content: space-between;
}
.notFound-BlogsPage {
  background: linear-gradient(to bottom, #00bcf2, #b4a0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1100px) {
  .column1-Top-Row-BlogsContainer {
    width: 55%;
  }
  .column2-Top-Row-BlogsContainer {
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .Top-Row-BlogsContainer-mobile {
    display: none;
  }
}

@media (max-width: 1000px) {
  .Top-Row-BlogsContainer-desktop {
    display: none;
  }
}
