.BlogsContainer {
  margin: 3%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.Top-Row-BlogsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.Top-Row-BlogsContainer .event-card-container {
  width: 100%;
}
.column1-Top-Row-BlogsContainer {
  width: 66.66667%;
  height: 100%;
  padding: 10px;
}

.column2-Top-Row-BlogsContainer {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  justify-content: space-between;
}
